<div class="principal-container--contact">
    <div class="target-contact--info">
        <h2>Medellin, Antioquia  Colombia</h2>
        <div class="target-container--ubi">
            <img class="target-cpontainer--img" src="/assets/logos/medellin.png" alt="">
            <p><fa-icon  class="logo-info"  [icon]="faPerson"></fa-icon>Sebastián Ricardo Ochoa Pete</p>
            <p><fa-icon  class="logo-info"  [icon]="faLocationDot"></fa-icon>Calle 55A #64B-68, Carlos Restrepo, Bloque 49</p>
            <p><fa-icon  class="logo-info"  [icon]="faEnvelope"></fa-icon>srochoap@eafit.edu.co</p>
            <p><fa-icon  class="logo-info"  [icon]="faLocationDot"></fa-icon>3123231787</p>
            
        </div>
    </div>
</div>