<div class="principal-container">
    <div class="principal-container--vertical">
        <div>
            <img class="principal-container--photo" src="/assets/logos/sebastian-ochoa.jpg" alt="">
        </div>
        <div>
            <h3 class="mb-4">Información personal</h3>
            <p class="description">Cuento con capacidades para proponer soluciones ante situaciones problema dentro de una empresa o un proyecto. Tengo conocimientos en investigación de mercados, gestión de bases de datos, formulación y ejecución de planes de negocios y proyectos, además del dominio de tecnologías como CSS, HTML y Javascript aplicadas en desarrollo web frontend. Soy una persona propositiva, enfocada en la gestión del cambio, la solución de problemas, con habilidades de liderazgo y trabajo en equipo. </p>
        </div>
    </div>
    <div class="principal-container--horizontal">
        <div class="title">
            <h1>Sebastián Ochoa</h1>
            <p>Estudiante</p>
        </div>
    </div>
    <div class="education">
        <h3><fa-icon  class="logo-education"  [icon]="faCircleChevronRight"></fa-icon> ESTUDIOS</h3>
         <div class="education--items">
            <h4>Centro de Desarollo Agro-Empresarial y Turistico del Huila - SENA</h4>
            <p>Tecnólogo en Gestión Empresarial.</p>
            <h4>Universidad Nacional de Colombia</h4>
            <p>Ingeniería Administrativa. En curso.</p>
            <h4>Universidad Eafit</h4>
            <p>Desarrollo Web FullStack. En curso.</p>
         </div>
         <h3><fa-icon  class="logo-education"  [icon]="faCircleChevronRight"></fa-icon> EDUCACIÓN COMPLEMENTARIA</h3>
         <div class="education--items">
            <h4>Platzi</h4>
            <p>Curso Básico de Programación Desarrollo con Node.js</p>
            <h4>Platzi</h4>
            <p>Curso de Introducción a la Terminal y Linea de Comandos.</p>
            <h4>Platzi</h4>
            <p>Curso de Pensamiento Logico: Manejo de Datos.</p>
            <h4>Platzi</h4>
            <p>Curso de Pensamiento Lógico: Lenguajes de Programación.</p>
            <h4>Platzi</h4>
            <p>Curso de Frontend Developer.</p>
            <h4>Platzi</h4>
            <p>Curso Práctico de Frontend Developer.</p>
            <h4>Platzi</h4>
            <p>Curso Definitivo de HTML y CSS.</p>
            <h4>Platzi</h4>
            <p>Curso Práctico de HTML y CSS.</p>
            <h4>Platzi</h4>
            <p>Curso de Responsive Design: Maquetación Mobile First.</p>
            <h4>Platzi</h4>
            <p>Curso Básico de JavaScript.</p>
            <h4>Platzi</h4>
            <p>Curso Práctico de JavaScript.</p>
         </div>

    </div>

</div>