<div class="blog-container">
    <div class="blog-container--encabezado">
        <h1>Sebastián Ochoa</h1>
        <p>Mi nombre es Sebastián Ricardo Ochoa, es un placer saludarte. Nací el 24 de nero de 2003 y tengo 20 años. Soy hijo de una hermosa huilense y de un paisita, mijo. Y esta es una parte de mi historia, una muestra de lo que me representa, relatos de 7300 dias que he vivido más o menos, cosas que he hecho.</p>
    </div>
    <div class="principal-container--blog-target">
        <div class="blog-container--target">
            <h2>Huila, Patrimonio Vivo</h2>
            <p>Soy oriundo del municipio de la Plata, Huila. Ubicado al surocidente del departamento, tierra llena de folclor y tradición.</p>
            <img class="blog-container--img-pomo" src="/assets/logos/pomo.jpg" alt="">
            <img class="blog-container--img-dptal" src="/assets/logos/dptal.jpg" alt="">
            <img class="blog-container--img-parque" src="/assets/logos/parque.jpg" alt="">
            <p>Crecí bajo el ritmo de bambucos y Sanjuaneros. Bailar es el pasatiempo de toda mi vida.</p>
        </div>
        <div class="blog-container--target">
            <h2>Vivir para estudiar</h2>
            <p>Me gusta el conocimiento. Me parece fascinante obtenerlo y compartirlo. Estudiar es parte de mi dia a dia.</p>
            <img class="blog-container--img-pomo" src="/assets/logos/nacho.jpg" alt="">
            <img class="blog-container--img-dptal" src="/assets/logos/eafit.jpg" alt="">
            <img class="blog-container--img-parque" src="/assets/logos/table.jpg" alt="">
            <p>Estudio Ingeniería Administrativa en la Universidad Nacional de Colombia, estudio Desarrollo Web FullStack en la Universidad Eafit. </p>
        </div>
        <div class="blog-container--target">
            <h2>Viajes que dan vida</h2>
            <p>Conozco algo de la tradición de Colombia, he viajado a lugares que dan paz. Me gusta entrar en contacto con nuevas culturas, con nuevas personas. </p>
            <img class="blog-container--img-pomo" src="/assets/logos/mar.jpg" alt="">
            <img class="blog-container--img-dptal" src="/assets/logos/candelaria.jpg" alt="">
            <img class="blog-container--img-parque" src="/assets/logos/termales.jpg" alt="">
            <p>Conocer lugares, culturas, creencias etc., son momentos que recargan la vida.</p>
        </div>
    </div>
   
</div>