.main-container {
    width: 100%;
    background-image: url('/assets/logos/fondoapp.jpg');
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container--target {
    background-color: var(--header-color);
    height: 420px;
    width: 400px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 10px 20px black;

}
.main-container--imagen {
    width: 230px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 18px;
    border-radius: 50%;
    
}